textarea{
    border-radius: 10px;
    width: 90%;
    height: 600px;
    float: right;
}

.text_editor{
    border: solid 1px black;
    width: 90%;
    height: 600px;
    float: right;
    background-color: rgb(255, 254, 247);
    border-radius: 10px;
}
.countdown_timer{
    padding: 2%;
    color: red;
    font-size: large;
}

.algorithm{
    background-color: rgba(255, 254, 247, .75);
}

.start_button{
    position: relative;
    top: 50%;
    left: 38%;
    width: 25%;
    padding: 2%;
}