<div class="text-center" style="margin-top: 125px;">
    <h1 class="text-dark bg-light display-1 my-5">(E)Leet Teams</h1>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <p class="font-weight-bold">About us:</p>
            <div class="about_us p-3">
                <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form class="join mt-5">
                <input type="text" name="username" class="form-control text-center" id="username" placeholder="Please enter your name..."><br>
                <button class="btn btn-dark btn-lg py-3 px-5" [routerLink]="['/game_page']">Join!</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
    <img class="bg" src="https://codetheweb.blog/assets/img/posts/css-advanced-background-images/mountains.jpg">
</div>
