.games{
    margin-left: auto;
    margin-right: auto;
}

.algorithm{
    border: solid 1px black;
    width: 90%;
    height: 125px;
    float: right;
    background-color: rgb(255, 254, 247);
    border-radius: 10px;
}

.text_editor{
    border: solid 1px black;
    width: 90%;
    height: 600px;
    float: right;
    background-color: rgb(255, 254, 247);
    border-radius: 10px;
}

.team_chat{
    border: solid 1px black;
    width: 90%;
    height: 733px;
    background-color: rgb(255, 254, 247);
    border-radius: 10px;
}

.res_msg{
    border: solid 2px black;
    width: 10%;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    
    z-index: -1;
    opacity: .8;
  }

  button{
    margin-left: 30%;
  }